{% extends 'dictionary/base.html' %}
{% load static %}

{% block content %}
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js" type="text/javascript"></script>

    <style>
        .my_hidden {
            display: none;
        }
    </style>


    <div style="text-align: center;">
        <h1 id="ahha" style="color:black;">ahha</h1>
    </div>

    <div align="center">
        <video class="input_video" style="display: none"></video>
        <canvas class="output_canvas" width="1000px" height="562px"></canvas>

        <img src="{{ book.lang_img.url }}" alt="poster" style="width: 210px; height: auto"
             onerror="this.src='/static/img/hand.jpg';">
        <a>{{ book.lang_name }}</a>


        <br>


        <div id='result' style="text-align: center;"></div>
        <div id='resultadd' style="text-align: center"></div>

        <button class="btn btn-secondary btn-lg btn-block" onclick="
                const description_id = 'movie_description_comment';
                console.log('toggle ' + description_id);
                document.querySelector('#' + description_id).classList.toggle('my_hidden');">수화 데이터 녹화
        </button>
        <br><br>
        <div id="movie_description_comment" class="my_hidden">

            <button id="btn1">녹화</button>
            <button id="btn2">전송</button>

            <input type="text" name="inputValue" id="inputValue" placeholder="수화 제목">
        </div>


    </div>



    <script type="module">
        const videoElement = document.getElementsByClassName('input_video')[0];
        const canvasElement = document.getElementsByClassName('output_canvas')[0];
        const canvasCtx = canvasElement.getContext('2d');

        var a = 0;
        var seq = [];
        var rhcoorall = [];
        var euclidall = [];
        var d = [];
        var recod = [];
        var actionshow = [];
        var actshow = '';
        {#var inputValue = '';#}


        function onResults(results) {
            canvasCtx.save();
            canvasCtx.clearRect(0, 0, canvasElement.width, canvasElement.height);
            canvasCtx.drawImage(
                results.image, 0, 0, canvasElement.width, canvasElement.height);
            if (results.multiHandLandmarks) {
                for (const landmarks of results.multiHandLandmarks) {
                    drawConnectors(canvasCtx, landmarks, HAND_CONNECTIONS,
                        {color: '#00FF00', lineWidth: 5});
                    drawLandmarks(canvasCtx, landmarks, {color: '#FF0000', lineWidth: 2});

                    var actions = [
                        ' no',
                        ' dont',
                        ' sorry',
                        ' thank',
                        ' go',
                        ' do',
                        ' joy',
                        ' gjoy',
                        ' sua',
                        ' tired',
                        ' love',
                        ' j',
                        ' z',
                        ' meet',
                        ' hello',
                        ' sad',
                        'delete'
                    ]

                    var actions2 = ['4', '5', '7', '8', '9', 'a', 'c', 'd', 'e', 'f', 'h', 'k', 'l',
                        'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'w, 3', 'x', 'y', 'ㄱ',
                        'ㄴ, 6', 'ㄷ', 'ㄹ', 'ㅁ', 'ㅂ, b', 'ㅅ, ㅠ', 'ㅇ, 0', 'ㅈ', 'ㅊ', 'ㅋ', 'ㅌ',
                        'e', 'ㅎ', 'ㅏ, 1', 'ㅐ', 'ㅑ, v, 2', 'ㅒ', 'ㅓ', 'ㅔ', 'ㅕ', 'ㅖ', 'ㅗ',
                        'ㅚ', 'ㅛ', 'ㅜ', 'ㅟ', 'ㅡ, g', 'ㅢ', 'i']

                    let rh0 = results.multiHandLandmarks[0][0]
                    let rh1 = results.multiHandLandmarks[0][1]
                    let rh2 = results.multiHandLandmarks[0][2]
                    let rh3 = results.multiHandLandmarks[0][3]
                    let rh4 = results.multiHandLandmarks[0][4]
                    let rh5 = results.multiHandLandmarks[0][5]
                    let rh6 = results.multiHandLandmarks[0][6]
                    let rh7 = results.multiHandLandmarks[0][7]
                    let rh8 = results.multiHandLandmarks[0][8]
                    let rh9 = results.multiHandLandmarks[0][9]
                    let rh10 = results.multiHandLandmarks[0][10]
                    let rh11 = results.multiHandLandmarks[0][11]
                    let rh12 = results.multiHandLandmarks[0][12]
                    let rh13 = results.multiHandLandmarks[0][13]
                    let rh14 = results.multiHandLandmarks[0][14]
                    let rh15 = results.multiHandLandmarks[0][15]
                    let rh16 = results.multiHandLandmarks[0][16]
                    let rh17 = results.multiHandLandmarks[0][17]
                    let rh18 = results.multiHandLandmarks[0][18]
                    let rh19 = results.multiHandLandmarks[0][19]
                    let rh20 = results.multiHandLandmarks[0][20]

                    let vrh01 = [rh1["x"] - rh0["x"], rh1["y"] - rh0["y"], rh1["z"] - rh0["z"]]
                    let vrh12 = [rh2["x"] - rh1["x"], rh2["y"] - rh1["y"], rh2["z"] - rh1["z"]]
                    let vrh23 = [rh3["x"] - rh2["x"], rh3["y"] - rh2["y"], rh3["z"] - rh2["z"]]
                    let vrh34 = [rh4["x"] - rh3["x"], rh4["y"] - rh3["y"], rh4["z"] - rh3["z"]]
                    let vrh05 = [rh5["x"] - rh0["x"], rh5["y"] - rh0["y"], rh5["z"] - rh0["z"]]
                    let vrh56 = [rh6["x"] - rh5["x"], rh6["y"] - rh5["y"], rh6["z"] - rh5["z"]]
                    let vrh67 = [rh7["x"] - rh6["x"], rh7["y"] - rh6["y"], rh7["z"] - rh6["z"]]
                    let vrh78 = [rh8["x"] - rh7["x"], rh8["y"] - rh7["y"], rh8["z"] - rh7["z"]]
                    let vrh59 = [rh9["x"] - rh5["x"], rh9["y"] - rh5["y"], rh9["z"] - rh5["z"]]
                    let vrh910 = [rh10["x"] - rh9["x"], rh10["y"] - rh9["y"], rh10["z"] - rh9["z"]]
                    let vrh1011 = [rh11["x"] - rh10["x"], rh11["y"] - rh10["y"], rh11["z"] - rh10["z"]]
                    let vrh1112 = [rh12["x"] - rh11["x"], rh12["y"] - rh11["y"], rh12["z"] - rh11["z"]]
                    let vrh913 = [rh13["x"] - rh9["x"], rh13["y"] - rh9["y"], rh13["z"] - rh9["z"]]
                    let vrh1314 = [rh14["x"] - rh13["x"], rh14["y"] - rh13["y"], rh14["z"] - rh13["z"]]
                    let vrh1415 = [rh15["x"] - rh14["x"], rh15["y"] - rh14["y"], rh15["z"] - rh14["z"]]
                    let vrh1516 = [rh16["x"] - rh15["x"], rh16["y"] - rh15["y"], rh16["z"] - rh15["z"]]
                    let vrh1317 = [rh17["x"] - rh13["x"], rh17["y"] - rh13["y"], rh17["z"] - rh13["z"]]
                    let vrh017 = [rh17["x"] - rh0["x"], rh17["y"] - rh0["y"], rh17["z"] - rh0["z"]]
                    let vrh1718 = [rh18["x"] - rh17["x"], rh18["y"] - rh17["y"], rh18["z"] - rh17["z"]]
                    let vrh1819 = [rh19["x"] - rh18["x"], rh19["y"] - rh18["y"], rh19["z"] - rh18["z"]]
                    let vrh1920 = [rh20["x"] - rh19["x"], rh20["y"] - rh19["y"], rh20["z"] - rh19["z"]]

                    function unitvector(vector) {
                        var unit = [vector[0] / Math.sqrt(vector[0] * vector[0] + vector[1] * vector[1] + vector[2] * vector[2]),
                            vector[1] / Math.sqrt(vector[0] * vector[0] + vector[1] * vector[1] + vector[2] * vector[2]),
                            vector[2] / Math.sqrt(vector[0] * vector[0] + vector[1] * vector[1] + vector[2] * vector[2])]
                        return unit;
                    }

                    let uvrh01 = unitvector(vrh01)
                    let uvrh12 = unitvector(vrh12)
                    let uvrh23 = unitvector(vrh23)
                    let uvrh34 = unitvector(vrh34)
                    let uvrh05 = unitvector(vrh05)
                    let uvrh56 = unitvector(vrh56)
                    let uvrh67 = unitvector(vrh67)
                    let uvrh78 = unitvector(vrh78)
                    let uvrh59 = unitvector(vrh59)
                    let uvrh910 = unitvector(vrh910)
                    let uvrh1011 = unitvector(vrh1011)
                    let uvrh1112 = unitvector(vrh1112)
                    let uvrh913 = unitvector(vrh913)
                    let uvrh1314 = unitvector(vrh1314)
                    let uvrh1415 = unitvector(vrh1415)
                    let uvrh1516 = unitvector(vrh1516)
                    let uvrh1317 = unitvector(vrh1317)
                    let uvrh017 = unitvector(vrh017)
                    let uvrh1718 = unitvector(vrh1718)
                    let uvrh1819 = unitvector(vrh1819)
                    let uvrh1920 = unitvector(vrh1920)

                    d = [uvrh01[0], uvrh01[1], uvrh01[2], uvrh12[0], uvrh12[1], uvrh12[2], uvrh23[0], uvrh23[1], uvrh23[2],
                        uvrh34[0], uvrh34[1], uvrh34[2], uvrh05[0], uvrh05[1], uvrh05[2], uvrh56[0], uvrh56[1], uvrh56[2],
                        uvrh67[0], uvrh67[1], uvrh67[2], uvrh78[0], uvrh78[1], uvrh78[2], uvrh59[0], uvrh59[1], uvrh59[2],
                        uvrh910[0], uvrh910[1], uvrh910[2], uvrh1011[0], uvrh1011[1], uvrh1011[2], uvrh1112[0], uvrh1112[1], uvrh1112[2],
                        uvrh913[0], uvrh913[1], uvrh913[2], uvrh1314[0], uvrh1314[1], uvrh1314[2], uvrh1415[0], uvrh1415[1], uvrh1415[2],
                        uvrh1516[0], uvrh1516[1], uvrh1516[2], uvrh1317[0], uvrh1317[1], uvrh1317[2], uvrh017[0], uvrh017[1], uvrh017[2],
                        uvrh1718[0], uvrh1718[1], uvrh1718[2], uvrh1819[0], uvrh1819[1], uvrh1819[2], uvrh1920[0], uvrh1920[1], uvrh1920[2]]


                    document.getElementById("btn1").addEventListener('click', recoding);

                    function recoding() {
                        var inputValue = document.getElementById('inputValue').value;
                        var dwith = d
                        dwith.push(inputValue)
                        recod.push(dwith)
                    }


                    var rhcoor = []
                    var i = 0
                    for (var step = 0; step < 21; step++) {
                        rhcoor[i] = results.multiHandLandmarks[0][step]['x']
                        rhcoor[i + 1] = results.multiHandLandmarks[0][step]['y']
                        rhcoor[i + 2] = results.multiHandLandmarks[0][step]['z']
                        i = i + 3
                    }

                    seq[a] = d
                    rhcoorall[a] = rhcoor
                    a = a + 1

                    function argMax(array) {
                        return array.map((x, i) => [x, i]).reduce((r, a) => (a[0] > r[0] ? a : r))[1];
                    }

                    function euclidian(array1, array2) {
                        var dis = 0
                        array1 = array1.flat(1)
                        array2 = array2.flat(1)
                        for (var step = 0; step < 63; step++) {
                            var dissmall = Math.sqrt(Math.abs(Math.pow(array1[step], 2) - Math.pow(array2[step], 2)))
                            dis = dis + dissmall
                        }
                        return dis;
                    }


                    var data = seq.slice(-30,)
                    var euc1 = rhcoorall.slice(-2, -1)
                    var euc2 = rhcoorall.slice(-1,)
                    var euc = euclidian(euc1, euc2)
                    var mean = 0;

                    euclidall.push(euc)
                    if (euclidall.length > 10) {
                        var eucmean = euclidall.slice(-10,)
                        const average = arr => arr.reduce((p, c) => p + c, 0) / arr.length;
                        var mean = average(eucmean)
                    }
                    console.log('euclid', mean)


                    if (mean > 3) {
                        if (seq.length >= 30) {
                            tf.loadLayersModel('{% static 'js/models/model/model.json' %}').then(function (model) {
                                var result = model.predict(tf.tensor([data]))

                                var resultf = result.flatten()
                                {#console.log(resultf)#}
                                const values = resultf.dataSync();
                                const arr = Array.from(values);
                                {#console.log(values);#}

                                var act_num = argMax(arr)
                                if (arr[act_num] > 0.8) {
                                    console.log(actions[act_num]);
                                    var act = actions[act_num]
                                } else {
                                    act = '???'
                                }
                                actionshow.push(act)
                                document.querySelector("#result").innerHTML = `
                     <h2>동작</h2>
                     ${act}
                     `
                            });
                        }
                    } else {

                        tf.loadLayersModel('{% static 'js/models/signmodel/model.json' %}').then(function (model) {
                            var a = model.predict(tf.tensor([[
                                uvrh01[0], uvrh01[1], uvrh01[2], uvrh12[0], uvrh12[1], uvrh12[2], uvrh23[0], uvrh23[1], uvrh23[2],
                                uvrh34[0], uvrh34[1], uvrh34[2], uvrh05[0], uvrh05[1], uvrh05[2], uvrh56[0], uvrh56[1], uvrh56[2],
                                uvrh67[0], uvrh67[1], uvrh67[2], uvrh78[0], uvrh78[1], uvrh78[2], uvrh59[0], uvrh59[1], uvrh59[2],
                                uvrh910[0], uvrh910[1], uvrh910[2], uvrh1011[0], uvrh1011[1], uvrh1011[2], uvrh1112[0], uvrh1112[1], uvrh1112[2],
                                uvrh913[0], uvrh913[1], uvrh913[2], uvrh1314[0], uvrh1314[1], uvrh1314[2], uvrh1415[0], uvrh1415[1], uvrh1415[2],
                                uvrh1516[0], uvrh1516[1], uvrh1516[2], uvrh1317[0], uvrh1317[1], uvrh1317[2], uvrh017[0], uvrh017[1], uvrh017[2],
                                uvrh1718[0], uvrh1718[1], uvrh1718[2], uvrh1819[0], uvrh1819[1], uvrh1819[2], uvrh1920[0], uvrh1920[1], uvrh1920[2]
                            ]]))
                            var data = a.flatten()
                            {#console.log(data)#}
                            const values = data.dataSync();
                            const arr = Array.from(values);
                            {#console.log(values);#}
                            {#console.log(arr);#}
                            var act_num = argMax(arr)
                            if (arr[act_num] > 0.8) {
                                console.log(actions2[act_num]);
                                var act = actions2[act_num]
                            } else {
                                act = '???'
                            }
                            actionshow.push(act)
                            document.querySelector("#result").innerHTML = `
                     <h2>동작</h2>
                     ${act}
                     `
                        });
                    }

                    if (actionshow.length > 30) {

                        var la = actionshow.slice(-30,)
                        console.log('actionall', la)

                        const set = new Set(la);


                        if (set.size == 1) {
                            if (la.slice(-1)[0] != '???') {
                                actshow = actshow + la.slice(-1)[0]
                                console.log('num', actshow)
                                actionshow.splice(-30,);
                            }
                        }

                        document.querySelector("#resultadd").innerHTML = `
                     <h2>동작</h2>
                     ${actshow}
                     `
                    }


                    {#그는 좋은 코드였습니다...#}
                    {#$.ajax({#}
                    {#  type:'POST',#}
                    {#  url:'/translang/home/send/',#}
                    {#  data:JSON.stringify(results.multiHandLandmarks),#}
                    {#  success:function(json){#}
                    {#      console.log("data pass success",json);#}
                    {#      document.querySelector("#result").innerHTML = `#}
                    {#      <h2>동작</h2>#}
                    {#      ${json.result}#}
                    {#      `#}
                    {#  },#}
                    {#  error : function(xhr,errmsg,err) {#}
                    {#  console.log(xhr.status + ": " + xhr.responseText);#}
                    {#  }});#}


                }
            }
            canvasCtx.restore();
        }

        const hands = new Hands({
            locateFile: (file) => {
                return `https://cdn.jsdelivr.net/npm/@mediapipe/hands/${file}`;
            }
        });
        hands.setOptions({
            maxNumHands: 2,
            modelComplexity: 1,
            minDetectionConfidence: 0.5,
            minTrackingConfidence: 0.5
        });
        hands.onResults(onResults);

        const camera = new Camera(videoElement, {
            onFrame: async () => {
                await hands.send({image: videoElement});
            },
            width: 1280,
            height: 720
        });

        {# 로딩 기능 추가 #}

        function openLoading() {
            //화면 높이와 너비를 구합니다.
            let maskHeight = $(document).height();
            let maskWidth = window.document.body.clientWidth;
            //출력할 마스크를 설정해준다.
            let mask = "<div id='mask' style='position:absolute; z-index:9000; background-color:#000000; display:none; left:0; top:0;'></div>";
            // 로딩 이미지 주소 및 옵션
            let loadingImg = '';
            loadingImg += "<div id='loadingImg' style='position:absolute; top: calc(50% - (200px / 2)); width:100%; z-index:99999999;'>";
            loadingImg += " <img src='/static/img/loading.gif' style='position: relative; display: block; margin: 0px auto;'/>";
            loadingImg += "</div>";
            //레이어 추가
            $('body')
                .append(mask)
                .append(loadingImg)
            //마스크의 높이와 너비로 전체 화면을 채운다.
            $('#mask').css({
                'width': maskWidth,
                'height': maskHeight,
                'opacity': '0.3'
            });
            //마스크 표시
            $('#mask').show();
            //로딩 이미지 표시
            $('#loadingImg').show();
        }

        // 로딩창 끄는 함수
        function closeLoading() {
            $('#mask, #loadingImg').hide();
            $('#mask, #loadingImg').empty();
        }

        openLoading();
        setTimeout(closeLoading, 3000);
        camera.start();


        document.getElementById("btn2").addEventListener('click', send);

        function send() {
            alert('녹화 완료')
            $.ajax({
                type: 'POST',
                url: '/translang/home/send/',
                data: JSON.stringify(recod),
                success: function (json) {
                    console.log("data pass success", json);
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
            recod = []
        }


    </script>

{% endblock %}

