{% extends 'dictionary/base.html' %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/articlecss.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Black+Han+Sans&family=Cute+Font&family=Do+Hyeon&family=Dokdo&family=East+Sea+Dokdo&family=Gaegu&family=Gamja+Flower&family=Gothic+A1&family=Gugi&family=Hi+Melody&family=Jua&family=Kirang+Haerang&family=Nanum+Brush+Script&family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Nanum+Myeongjo&family=Nanum+Pen+Script&family=Noto+Sans+KR&family=Noto+Serif+KR&family=Poor+Story&family=Single+Day&family=Song+Myung&family=Stylish&family=Sunflower:wght@300&family=Yeon+Sung&display=swap"
          rel="stylesheet">

    <section>
        <header>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 text-center">
                        <br>
                        <h1 id="fh5co-logo"> 관련 기사 모음<sup> 2022</sup> </h1>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </header>

        {#<!-- <article -->#}
        <div class="container-fluid">
            <div class="row fh5co-post-entry">
                {% for art in art_all %}
                    <div class="column">
                        <article class="colcol-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
                            <figure>
                                <a href="{{ art.art_link }}"><img src="{{ art.art_img.url }}" class="img-responsive"
                                                                  alt=""></a>
                            </figure>
                            <span class="fh5co-meta"><a href="{{ art.art_link }}"> {{ art.art_from }} </a></span>
                            <h2 class="fh5co-article-title"><a href="{{ art.art_link }}"> {{ art.art_name }}</a></h2>
                            <span class="fh5co-meta fh5co-date"> {{ art.updated_at }} </span>
                        </article>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <div class="nextpage" style="margin-left: 650px;">
            <a href="#" class="previous">&laquo; Previous</a>
            <a href="#" class="next">Next &raquo;</a>
        </div>
    </section>
    


    <br>
    <br>
    <br>

{% endblock %}
