{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title> 수화 도감 </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/booktablecss.css' %}">

    <!-- sidebar menu -->
    <head class="do">
        <!-- <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <title> sidebar menu </title>
        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/sidemenucss.css' %}">
        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <!-- korean font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Black+Han+Sans&family=Cute+Font&family=Do+Hyeon&family=Dokdo&family=East+Sea+Dokdo&family=Gaegu&family=Gamja+Flower&family=Gothic+A1&family=Gugi&family=Hi+Melody&family=Jua&family=Kirang+Haerang&family=Nanum+Brush+Script&family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Nanum+Myeongjo&family=Nanum+Pen+Script&family=Noto+Sans+KR&family=Noto+Serif+KR&family=Poor+Story&family=Single+Day&family=Song+Myung&family=Stylish&family=Sunflower:wght@300&family=Yeon+Sung&display=swap"
              rel="stylesheet">
    </head>
</head>
<body>
<p class="booktable"> 수화 도감 </p>
<div class="table_responsive">
    <table>
        <thead>
        <tr>
            <th> 의미</th>
            <th> 이미지</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <!-- <td> 01</td> -->
            <td> 뜻 <br>
                의미 <br>
            </td>
            <td><img src="img/book.jpeg"></td>
        </tr>
        <tr>
            <!-- <td> 02 </td> -->
            <td> dotsdjfoisgfejowijsdfsdfsfdofehwiugoiejowfijeowighiuewnfiefefwe</td>
            <td><img src="img/book2.jpeg"></td>
        </tr>
        <tr>
            <!-- <td> 03 </td> -->
            <td> dot</td>
            <td><img src="img/book2.jpeg"></td>
        </tr>
        <tr>
            <!-- <td> 04 </td> -->
            <td> dot</td>
            <td><img src="img/book2.jpeg"></td>
        </tr>
        <tr>
            <!-- <td> 05 </td> -->
            <td> dot</td>
            <td><img src="img/book2.jpeg"></td>
        </tr>
        </tbody>
    </table>
</div>

<!-- sidebar -->
<nav class="sidebar">
    <header>
        <div class="image-text">
                    <span class="image">
                        <img src="{% static 'img/logo.jpg' %}" alt="logo">
                    </span>
            <div class="text header-text">
                <br>
                <br>
                <span class="name">O'SIGN</span><br>
                <span class="profession">박소영  권오승<br>  김정민 정찬영 </span>
            </div>
        </div>

        <!-- <i class='bx bx-chevron-right toggle'></i> -->
    </header>
    <div class="menu-bar">
        <div class="menu">
            <ul class="menu-links">
                <!-- <li class="nav-link">
                        <i class='bx bx-home-alt'></i>
                        <span class="text nav-text"> 홈화면</span>
                </li> -->

                <li class="nav-link">
                    <a href="home.html">
                        <i class='bx bx-home-alt icon'></i>
                        <span class="text nav-text"> 홈화면</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-mobile-landscape icon'></i>
                        <span class="text nav-text"> 수화 번역</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="booktable.html">
                        <i class='bx bx-blanket icon'></i>
                        <span class="text nav-text"> 수화 도감</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="society.html">
                        <i class='bx bx-clipboard icon'></i>
                        <span class="text nav-text"> 커뮤니티</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="article.html">
                        <i class='bx bx-news icon'></i>
                        <span class="text nav-text"> 관련 기사</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="qna.html">
                        <i class='bx bxl-quora icon'></i>
                        <span class="text nav-text"> Q&A</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>