{% extends 'dictionary/base.html' %}
{% load static %}

{% block content %}


    <link rel="stylesheet" type="text/css" href="{% static 'css/booktablecss.css' %}">



<div class="table_responsive">
<p class="booktable"> 수화 도감 </p>
    <table>
        <thead>
        <tr>
            <th> 의미</th>
            <th> 이미지</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <!-- <td> 01</td> -->
            <td> 뜻 <br>
                의미 <br>
            </td>
            <td><img src="img/book.jpeg"></td>
        </tr>
        <tr>
            <!-- <td> 02 </td> -->
            <td> dotsdjfoisgfejowijsdfsdfsfdofehwiugoiejowfijeowighiuewnfiefefwe</td>
            <td><img src="img/book2.jpeg"></td>
        </tr>
        <tr>
            <!-- <td> 03 </td> -->
            <td> dot</td>
            <td><img src="img/book2.jpeg"></td>
        </tr>
        <tr>
            <!-- <td> 04 </td> -->
            <td> dot</td>
            <td><img src="img/book2.jpeg"></td>
        </tr>
        <tr>
            <!-- <td> 05 </td> -->
            <td> dot</td>
            <td><img src="img/book2.jpeg"></td>
        </tr>
        </tbody>
    </table>
</div>

{% endblock %}