{% extends 'dictionary/base.html' %}
{% load static %}
{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/cssse.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Black+Han+Sans&family=Cute+Font&family=Do+Hyeon&family=Dokdo&family=East+Sea+Dokdo&family=Gaegu&family=Gamja+Flower&family=Gothic+A1&family=Gugi&family=Hi+Melody&family=Jua&family=Kirang+Haerang&family=Nanum+Brush+Script&family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Nanum+Myeongjo&family=Nanum+Pen+Script&family=Noto+Sans+KR&family=Noto+Serif+KR&family=Poor+Story&family=Single+Day&family=Song+Myung&family=Stylish&family=Sunflower:wght@300&family=Yeon+Sung&display=swap"
          rel="stylesheet">

<section class="notice">
    <div class="container">
        {% comment %} <h1>
            <a href="/dictionary/intro">Show Me Your Word</a>
        </h1> {% endcomment %}
        <div class="jb-box">
            <video muted autoplay loop>
                <source src="{% static 'vid/soyoungpark.mov' %}" type="video/mp4">
            </video>
            <style>
                {#/* body { padding: 0px; margin: 0px; background-color: black; opacity: 0.5;} */#}
                .jb-box {
                    {% comment %} width: 89%;
                    height: auto;
                    overflow: hidden;
                    margin: 0px auto; {% endcomment %}
                    position: fixed;
                }

                video {
                    width: 100%;
                    opacity: 0.6;
                }
                .jb-text { position: absolute; top: 50%; width: 100%; }
                .jb-text p { margin-top: -50px; margin-right: 620px; text-align: right; font-size: 90px; color: pink; }

                .jb-text-explain { position: absolute; top: 30%; width: 100% }
                .jb-text-explain { margin-top: 200px; margin-left: 150px; text-align: left; font-size: 20px; color: #ffffff;}
            </style>
            <div class="jb-text">
                <p>Show Me Your<br> Word</p>
            </div>
            <div class="jb-text-explain">
                <p>수화를 텍스트로 변환해주는 서비스입니다. </p>
            </div>
        </div>
    </div>

</section>


{% endblock %}