{% extends 'dictionary/base.html' %}
{% load static %}
{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/cssse.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Black+Han+Sans&family=Cute+Font&family=Do+Hyeon&family=Dokdo&family=East+Sea+Dokdo&family=Gaegu&family=Gamja+Flower&family=Gothic+A1&family=Gugi&family=Hi+Melody&family=Jua&family=Kirang+Haerang&family=Nanum+Brush+Script&family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Nanum+Myeongjo&family=Nanum+Pen+Script&family=Noto+Sans+KR&family=Noto+Serif+KR&family=Poor+Story&family=Single+Day&family=Song+Myung&family=Stylish&family=Sunflower:wght@300&family=Yeon+Sung&display=swap"
          rel="stylesheet">

<section class="notice">
    <div class="container">
        <h1>
            <a href="">O'sign</a>
            <p> @ 수화 - 텍스트 번역 </p>
        </h1>
        <div class="jb-box">
            <video muted autoplay loop>
                <source src="{% static 'vid/soyoungpark.mov' %}" type="video/mp4">
            </video>
            <style>
                {#/* body { padding: 0px; margin: 0px; background-color: black; opacity: 0.5;} */#}
                .jb-box {
                    width: 89%;
                    height: auto;
                    overflow: hidden;
                    margin: 0px auto;
                    position: fixed;
                }

                video {
                    width: 100%;
                }
            </style>
        </div>
    </div>

</section>


{% endblock %}