{% extends 'dictionary/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/qnacss.css' %}">

    <section class="notice">
        <form>
            <label for="qna">
                자주 묻는 질문
            </label>
            <select id="qna" name="qna">
                <option value="">-- 선택하세요 --</option>
                <optgroup label="서류">
                    <option value="work">장애인 구직자 이력서 등록</option>
                    <option value="request">직무요청서</option>
                </optgroup>
                <optgroup label="정보 공유 사항">
                    <option value="con"> 상담 신청</option>
                    <option value="camp"> 취업 캠프</option>
                    <option value="program"> 진로 체험 프로그램</option>
                </optgroup>
                <optgroup label="신규 질문">
                    <option value="new"> 질문 등록하러 가기</option>
                </optgroup>
            </select>
        </form>
        <h1> * 수화 상담하러 가기</h1>
    </section>



{% endblock %}