{% load static %}

<!DOCTYPE html>
<html lang="en">
<head><title>test</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<body>

<div>
    hello???
</div>
<button onclick=test();>test</button>

<div id="mask"></div>


<script>

    function test() {
        $.ajax({
            type: 'POST',
            url: '/translang/home/send/',
            data: JSON.stringify(results.multiHandLandmarks),
            success: function (json) {
                console.log("data pass success", json);
                document.querySelector("#mask").innerHTML = `
                          <h2>동작</h2>
                          ${json.result}
                          `
            },
            error: function (xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });




    }


</script>
</body>
</html>