{% load static %}


{% comment %} <p>O'SIGN &copy; 2022</p> {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title> O'22 5조 </title>
    <head class="do">

        <title> sidebar menu </title>
        <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel='stylesheet'>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Black+Han+Sans&family=Cute+Font&family=Do+Hyeon&family=Dokdo&family=East+Sea+Dokdo&family=Gaegu&family=Gamja+Flower&family=Gothic+A1&family=Gugi&family=Hi+Melody&family=Jua&family=Kirang+Haerang&family=Nanum+Brush+Script&family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Nanum+Myeongjo&family=Nanum+Pen+Script&family=Noto+Sans+KR&family=Noto+Serif+KR&family=Poor+Story&family=Single+Day&family=Song+Myung&family=Stylish&family=Sunflower:wght@300&family=Yeon+Sung&display=swap"
              rel="stylesheet">
    </head>
</head>
<body>

<nav class="sidebar">
    <header>
        <div class="image-text">
                    <span class="image">
                        <img src="{% static 'img/weare.png' %}" alt="logo">
                    </span>
            <div class="text header-text">
                <br>
                <br>
                <span class="name">O'SIGN</span><br>
                <span class="profession"><a href="/dictionary/intro">프로젝트 소개 클릭</a></span>
            </div>
        </div>

    </header>
    <div class="menu-bar">
        <div class="menu">
            <ul class="menu-links">
                <li class="nav-link">
                    <a href="/dictionary/home">
                        <i class='bx bx-home-alt icon'></i>
                        <span class="text nav-text"> 홈화면</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/translang">
                        <i class='bx bx-mobile-landscape icon'></i>
                        <span class="text nav-text"> 수화 번역 체험</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/dictionary/donate">
                        <i class='bx bx-donate-heart icon'></i>
                        <span class="text nav-text"> 수화기부</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/dictionary/book">
                        <i class='bx bx-blanket icon'></i>
                        <span class="text nav-text"> 수화 도감</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/dictionary/society">
                        <i class='bx bx-clipboard icon'></i>
                        <span class="text nav-text"> 커뮤니티</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/dictionary/article">
                        <i class='bx bx-news icon'></i>
                        <span class="text nav-text"> 관련 기사</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <footer>
        <div class="containerlogin">
            {% if not user.is_authenticated %}

                <div>
                    <button class="log" type="button" onclick="location.href='/accounts/login'">Login</button>
                    <br>
                    <button class="up" type="button" onclick="location.href='/accounts/signup'">Sign up</button>
                </div>
            {% else %}
                <div>
                    <button class="log" type="button" onclick="location.href='/accounts/profile'">Profile</button>
                    <br>
                    <button class="up" type="button" onclick="location.href='/accounts/logout'">Log out</button>
                </div>
            {% endif %}

        </div>
        

    </footer>
    {% comment %} footer 해보자 {% endcomment %}

</nav>


<div class="container">
    {% block content %}{% endblock %}
    {# 응! base.html을 다른데서 사용하는 그거 맞아 #}

</div>


</body>
</html>
