{% extends 'accounts/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/loginformcss.css' %}">

<body>
    <div id="sign">
        <div style="color: white;">
            <h2>로그인하세요</h2>
            <br>
            <br>
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <br>
                <button type="submit" class="btn btn-primary">로그인</button>
                {% comment %} <div style="display: inline-block; margin: 0 5px;  float: right;">
                    <button type="submit" class="btn btn-primary">로그인</button>
                </div> {% endcomment %}
            </form>
        </div>
    </div>
</body>

{% endblock %}