{% extends 'accounts/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/profilecss.css' %}">
    <div id="bbody" align="center" >
        <h4 style="color: white;">{{ user.username }}의 프로필</h4>
        <br><br><br>

        <h2 style="color: white;">{{ user.username }}의 수화 기부 내역</h2>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">작성자</th>
                <th scope="col">수화 영상 제목</th>
                <th scope="col">업로드 날짜</th>
            </tr>
            </thead>
            <tbody>
            {% for donate in donate_all %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ donate.user }}</td>
                    <td>{{ donate.lang_name }}</td>
                    <td>{{ donate.created_at }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br><br><br><br>

        <h2 style="color: white;">{{ user.username }}의 포스팅</h2>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">작성자</th>
                <th scope="col">포스팅 제목</th>
                <th scope="col">업로드 날짜</th>
            </tr>
            </thead>
            <tbody>
            {% for post in post_all %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ post.user }}</td>
                    <td>{{ post.post_name }}</td>
                    <td>{{ post.updated_at }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
