{% extends 'accounts/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
    <div align="center">

        <div style="color: white;">
            <h2 style="color: white;">sign-up</h2>
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}

                <div style="display: inline-block; margin: 0 5px;  float: right;">
                    <button type="submit" class="btn btn-primary">회원가입</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}